h1{
  text-align: center;
}
body{
    background-color: blanchedalmond;
  }
  .formclass{
    width: 70%;
    height: auto;
    border:5px solid black;
    padding:5% ;
    display: block;
    margin:20px 40px 20px 130px;
    
  }
  .buttonclass{
    width:auto;
    height:30px;
    border-radius: 20px;
    font-size: medium;
    color:blueviolet;
    text-align: center;
  }